tts # <-- Coqui TTS engine
pyannote.audio
ffmpeg-python
srt
# my additions to the espeakng package adding features for this program
espeakng @ git+https://github.com/FlorianEagox/espeakng-python@69725deda9bf041200f30b302b54f1f4452e9d9b
pydub
# pyAudio # <--- Needed on Windows, breaks on Linux
-f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-22.04
wxpython 
pyttsx3 # <-- System TTS engine
yt-dlp # <-- Downloading YT vids
audiotsm # <-- Audio timestretching
speechbrain # <-- Audio Language Identification
spleeter # <-- Vocal / Background isolation
git+https://github.com/casics/nostril.git # <--- GOBBLE
