# Absolutely required
ffmpeg-python
srt
pydub
pyAudio # <--- Needed on Windows, breaks on Linux smh
pyttsx3 # <-- System TTS engine
-f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-22.04
wxpython
audiotsm # <-- Audio timestretching
yt-dlp # <-- Downloading YT vids
# Optional
espeakng
tts # <-- Coqui TTS engine
pyannote.audio
spleeter # <-- Vocal / Background isolation
speechbrain # <-- Audio Language Identification
git+https://github.com/casics/nostril.git # <--- GOBBLEDYGOOK OBLITERATOR

