# Absolutely required
ffmpeg-python
git+https://github.com/FlorianEagox/static_ffmpeg # Script to install FFmpeg
srt
pydub
# pyAudio # <--- Needed on Windows, breaks on Linux smh
pyttsx3 # <-- System TTS engine
-f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-22.04
wxpython
audiotsm # <-- Audio timestretching
yt-dlp # <-- Downloading YT vids
espeakng
pyinstaller
