# Absolutely required
ffmpeg-python
git+https://github.com/FlorianEagox/static_ffmpeg # Script to install FFmpeg
srt
pydub
# pyAudio # <--- Needed on Windows, breaks on Linux smh
pyttsx3 # <-- System TTS engine
-f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-22.04
wxpython
audiotsm # <-- Audio timestretching
yt-dlp # <-- Downloading YT vids
# Optional
# librosa>=0.10.0
espeakng
spleeter # <-- Vocal / Background isolation
coqui-tts # <-- Coqui TTS engine
pyannote.audio
# git+https://github.com/speechbrain/speechbrain.git # speechbrain # <-- Audio Language Identification
git+https://github.com/casics/nostril.git # <--- GOBBLEDYGOOK OBLITERATOR
-f https://github.com/simonflueckiger/tesserocr-windows_build/releases/download/tesserocr-v2.6.0-tesseract-5.3.1/tesserocr-2.6.0-cp310-cp310-win_amd64.whl
protobuf==3.20 # Coqui breaks without this version specifically 